*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.ipynb_checkpoints
*.rendered.*
*.cpython*
*.DS_Store
*.out
dist/
build/
*__pycache__*
*.egg-info*
adelie/src/third_party
bazel-adelie
bazel-bin
bazel-out
bazel-testlogs
.bazelrc
.vscode