include VERSION
graft adelie

global-exclude *.so
global-exclude **/__pycache__/**

prune .github
prune .pytest_cache
prune .vscode
prune adelie-r
prune benchmark
prune build
prune dist
prune docs
prune research
prune tests