include VERSION

global-exclude *.so

prune .github
prune .pytest_cache
prune .vscode
prune adelie.egg-info
prune benchmark
prune build
prune data
prune dist
prune docs
prune adelie-r
prune research
prune tests